.facecardsContainer {
  background-color: white;
  position: relative;
  font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
  letter-spacing: .5em;
  max-width: 1000px;
  margin: 0 auto;
  color: #393939;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
}

